nav {
  display: flex;
  flex-direction: row;
  border: 1px solid green;
  border-radius: 10px;
  background-color: aquamarine;
  margin-bottom: 5%;
}

nav h2 {
  padding-left: 10%;
}

nav ul {
  display: flex;
  gap: 10px;
  align-items: center;
  list-style-type: none;
  padding-left: 70%;

}

nav ul a {
  text-decoration: none;
}

nav .OnlySmartphones {
  display: none;
}

.modal {
  display: none;
}



@media screen and (max-width: 800px) {
  nav ul {
    padding-left: 60%;
  }

  nav .OnlySmartphones {
    display: none;
  }

  .modal {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  nav ul {
    display: block;
  }
}

@media screen and (max-width: 450px) {
  nav ul {
    display: none;
  }

  nav .OnlySmartphones {
    display: flex;
    flex-direction: row;
    padding-left: 60%;
  }

  nav .OnlySmartphones button {
    background-color: aquamarine;
    border: none;
  }

  .modal {
    /* display: none; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid green;
    border-radius: 10px;
    background-color: aquamarine;
  }

  .modal a {
    text-decoration: none;

  }

}