.card {
  width: 30%;
  border-radius: 17px 17px 17px 17px;
  -webkit-border-radius: 17px 17px 17px 17px;
  -moz-border-radius: 17px 17px 17px 17px;

  background-color: #7FFFD4;
  display: block;
  margin: auto;


}

.card img {
  width: 100%;
  border: 1px solid black;
}

.card .card-body {
  text-align: center;
}

.card button {
  margin-top: 10px;
  display: inline-block;
  background-color: #7FFFD4;
  color: #551A8B;
  cursor: pointer;
  font-size: 16px;
  padding: 15px 32px;
  margin-bottom: 10px;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
}

.card button:hover {
  background-color: #23b828;
  color: white;
}

.card input {
  border: none;
}

.card input:hover {
  border: none;
}

@media screen and (max-width: 900px) {
  .card {
    width: 50%;
  }

  .card button {
    margin: 4% 6%;
    width: auto;
  }
}

@media screen and (max-width:800px) {
  .card {
    width: 50%;
  }
}

@media screen and (max-width:430px) {
  .card {
    width: 90%;
  }
}

@media screen and (max-width:240px) {
  .card {
    width: 100%;
  }

  .card button {
    padding: 2px 6px;
  }
}